
<div class="row">
  <div class="col-lg-6">
    <label><i class="material-icons">show_chart</i>Thống kê doanh thu theo ngày</label>
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>

  <div class="col-lg-6">
    <label><i class="material-icons">bar_chart</i>Thống kê doanh thu theo tháng</label>
    <canvas class="bar" width="400" height="400"></canvas>
  </div>
</div> <br>
<div class="row">
  <div class="col-lg-6">
    <label><i class="material-icons">bar_chart</i>Thống kê trạng thái đơn hàng</label>
    <canvas class="active" width="400" height="400"></canvas>
  </div>
</div>