<footer class="footer" style="margin-top:30px">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4 ">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="img/logo.png" alt="">
                            </a>
                        </div>
                        <p>87 Nguyễn Đình Hiến - Phường Hòa Quý - Ngũ Hành Sơn - ĐN <br>
                            <a href="#">+84 3535 90632</a> <br>
                            <a href="#">vdhieu.19it1@vku.udn.vn</a>
                        </p>


                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Công Ty
                        </h3>
                        <ul class="links">
                            <li><a href="#">Định Giá</a></li>
                            <li><a href="about.html">Thông Tin</a></li>
                            <li><a href="#"> Bộ Sưu Tập</a></li>
                            <li><a href="contact.html">Liên Hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Địa Điểm Nổi Tiếng
                        </h3>
                        <ul class="links double_links">
                            <li><a href="#">Hòa Bình</a></li>
                            <li><a href="#">Sơn La</a></li>
                            <li><a href="#">Lai Châu</a></li>
                            <li><a href="#">Điện Biên</a></li>
                            <li><a href="#">Lào Cai</a></li>
                            <li><a href="#">Yên Bái</a></li>
                        </ul>
                    </div>
                    <div class="socail_links">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/hieuks2001">
                                    <i class="ti-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/hieuduy22/">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Giúp Đỡ
                        </h3>
                        <ul class="links">
                            <li><a href="#" class="">Thông tin đặt hàng</a></li>
                            <li><a href="#" class="">Trở lại & Trao đổi</a></li>
                            <li><a href="#" class="">Điều khoản sử dụng</a></li>
                            <li><a href="#" class="">Chính sách bảo mật</a></li>
                            <li><a href="#" class="">FAQs</a></li>
                            <li><a href="#" class="">Liên hệ</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                </div>
            </div>
        </div>
</footer>





</body>
</html>