<div class="about_story">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="story_heading">
                        <h3>Lời Mở Đầu</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-11 offset-lg-1">
                            <div class="story_info">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <p>Tây Bắc là một trong những địa điểm nổi tiếng nhất ở Việt Nam, với cảnh quan thiên nhiên kỳ vĩ, được tạo nên bởi những dãy núi hào hùng với lịch sử hình thành lâu đời. Nơi đây được cho là cái nôi của của nhà nước đầu tiên tại Việt Nam – Văn Lang, bởi vậy nền văn hóa nơi đây cũng vô cùng đặc sắc và thú vị. Trải qua hàng nghìn năm lịch sử, cùng truyền thống dựng nước và giữ nước, Tây Bắc luôn là điểm tựa cho quân và dân ta trước mỗi trận đánh lớn, là mái nhà che chở cho những năm tháng hoạt động cách mạng gian khổ,…</p>
                                <p>Nền ẩm thực Tây Bắc phong phú, đa dạng với những món ăn dân dã, “độc nhất vô nhị” sẽ khiến cho mọi con tim yêu ẩm thực phải xiêu lòng</p>
                                 <p>Với những yếu tố trên, Tây Bắc đã và đang đã thu hút rất nhiều du khách tới đây tham quan, nghỉ dưỡng. Nhận thấy đây là địa điểm giàu tiềm năng du lịch, ý tưởng về một trang web du lịch giúp du khách có thể tra cứu thông tin, đặt chỗ nghỉ, tra cứu du lịch… đã được ra đời để khai thác địa điểm nổi tiếng này.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="story_thumb">
                                <div class="row">
                                    <div class="">
                                        <div class="thumb padd_1">
                                            <img src="./public/img/about/bg_2.jpeg" alt="">
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-6 col-md-6">
                                        <div class="thumb">
                                            <img src="./public/img/about/9.jpg" alt="">
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="counter_wrap">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="single_counter text-center">
                                            <h3  class="counter">378</h3>
                                            <p>Chuyến Tham Quan</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="single_counter text-center">
                                            <h3 class="counter">30</h3>
                                            <p>Tour Hàng Năm</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="single_counter text-center">
                                            <h3 class="counter">2263</h3>
                                            <p>Khách Hàng Hài Lòng</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="video_area video_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video_wrap text-center">
                        <h3>Video Đặc Sắc</h3>
                        <div class="video_icon">
                            <a class="popup-video video_play_button" href="https://www.youtube.com/watch?v=UkGJerqkczM">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="travel_variation_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="img/svg_icon/1.svg" alt="">
                        </div>
                        <h3>Tận hưởng</h3>
                        <p>Trên những cung đường quanh co uốn lượn.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="img/svg_icon/2.svg" alt="">
                        </div>
                        <h3>Nghỉ ngơi</h3>
                        <p>Trong những khách sạn sang trọng với view thiên nhiên cực đẹp.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="img/svg_icon/3.svg" alt="">
                        </div>
                        <h3>Hướng dẫn viên du lịch</h3>
                        <p>Có trình độ và kinh nghiệm 3 năm trở lên.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


  
<!-- testimonial_area  -->
<div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                     <% @cmts.each do |cmt| %>   
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class=" text-center">
                                        <img src="/img/avatar/0.png" style='border:1px solid #000; height:100px;' class='rounded-circle'>
                                        <p><%= cmt.noidung%></p>
                                        <div class="testmonial_author">
                                            <h3><%= cmt.username%></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /testimonial_area  -->

<!-- Blog in here -->
    <div class="recent_trip_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Blog gần đây</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_trip">
                        <div class="thumb">
                            <img src="img/trip/1.jpg" alt="" >
                        </div>
                        <div class="info">
                            <div class="date">
                                <span>11/12/2020</span>
                            </div>
                            <a href="single-blog.html">
                                <h3>Cuộc sống của người dân Tây Bắc như thế nào?</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_trip">
                        <div class="thumb">
                            <img src="img/trip/2.jpg" alt="" style=" height: 233px;">
                        </div>
                        <div class="info">
                            <div class="date">
                                <span>02/03/2020</span>
                            </div>
                            <a href="single-blog.html">
                                <h3>Mùa gặt lúa trên Mù Cang Chải</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_trip">
                        <div class="thumb">
                            <img src="img/trip/8.png" style="height: 233px;">
                        </div>
                        <div class="info">
                            <div class="date">
                                <span>14/07/2020/span>
                            </div>
                            <a href="single-blog.html">
                                <h3>Tour du lịch trên thuyền Hồ Thác Bà 3 ngày 2 đêm</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>